
.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
}

.welcome-image {
  width: 80%;
  max-width: 300px;
  margin-bottom: 20px;
}

.welcome-text {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  
  font-weight: 100;
}

.google-signin-btn,
.logout-btn {
  /* background-color: #4285f4; */
  background-color: #058f5af1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.logout-btn {
  background-color: #ff3b30;
  margin-top: 20px;
}

.google-signin-btn:hover {
  background-color: #058f5af1;
}

.logout-btn:hover {
  background-color: #d32f2f;
}
